newspaper3k
vncorenlp
rake-nltk
stanza
underthesea
langdetect
pycld3
regex
requests
hydra-core
omegaconf
python-multipart
google-search-results
git+https://github.com/LIAAD/yake
unidecode
fastapi
uvicorn
transformers